
.text {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

body {
    background-image: url(images/background3.jpg);
}
.buttonContainer .rockButton {
    background-image: url(images/rock.png);

} 

.buttonContainer .paperButton {
    background-image: url(images/paper.png);
} 

.buttonContainer .scissorButton {
    background-image: url(images/scissors.png);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

button {
    background-position: center center;
    width: 150px;
    height: 150px;
    object-fit:scale-down;
    margin: 20px;
    background: none;
    border: 0px;
    transition: 0.5s;
}



button:hover {
    box-shadow:  0px 0px 5px black;
}

button:active {
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    transform: scale(0.97);
}


#title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#title2 {
    font-size: 20px;
}




