
.text {
    display: flex;
    justify-content: center;
}

body {
    background-image: url(images/background1.png);
}
.buttonContainer .rockButton {
    background-image: url(images/rock.png);

} 

.buttonContainer .paperButton {
    background-image: url(images/paper.png);
} 

.buttonContainer .scissorButton {
    background-image: url(images/scissors.png);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-position: center center;
    width: 150px;
    height: 150px;
    object-fit:scale-down;
    margin: 20px;
    background: none;
    border: 0px;
}




